@tailwind base;
@tailwind components;
@tailwind utilities;

.text-line {
  position: relative;
}
.text-line::after {
  content: "";
  position: absolute;
  background-color: #1e2127;
  height: 3px;
  width: 100%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
